<form><p>Log In<a href="/account/login"></a></p>
<button type="submit">Login</button>
</fieldset>
</form><p>No Account? <a href="/account/register">Sign-up</a></p>
</div>
<script src="/js/script.js"></script>
