<h1>Manage Inventory</h1>
<% if (typeof message !== 'undefined') { %>
    <div class="flash-message"><%= message %></div>
<% } %>
<nav>
    <ul>
        <li><a href="/inv/add-classification">Add New Classification</a></li>
        <li><a href="/inv/add-inventory">Add New Inventory</a></li>
    </ul>
</nav>